* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

main {
  height: inherit;
  background: url(./images/header-illsutration-mobile@2x.png) no-repeat center center/cover;
}

.invisible {
  display: none;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 90vh;
  width: 100vw;
  z-index: 2;
}

.cancel-icon {
  position: absolute;
  top: 0;
  left: 93%;
  color: #93a79d;
}

.desktop {
  display: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
}

li {
  list-style: none;
}

.mobile {
  display: block;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.75rem;
}

.nav li {
  list-style-type: none;
}

.welcome {
  font-weight: bolder;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  width: 375px;
  height: 726px;
  left: 0;
  top: 92px;
  margin: auto;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.primary {
  display: block;
  color: #36b37e;
}

p {
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 58px 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  margin: 15px 0;
}

.social li {
  list-style-type: none;
  padding: 0.25rem;
}

.social li a img {
  color: #505f79;
  padding: 0.25rem;
}

.dropdown {
  margin: 78px auto;
}

.section-header {
  max-width: 90%;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  margin: 20px 0;
  margin: auto;
}

.indicator {
  width: 48px;
  height: 4px;
  background: #36b47e;
  border-radius: 24px;
  margin: 1rem auto;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

.item {
  height: 474px;
  margin: 24px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.placeholder {
  background: #ebf0ee;
  height: 50%;
  margin: auto;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

h3 {
  width: 295px;
  height: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 0 auto;
}

.skillsbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 305px;
  margin: 16px 0;
}

.skillsbar li {
  padding: 8px;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #36b37f;
  margin: 5px 10px;
}

.aboutme-text {
  margin-top: 30px;
  align-items: center;
  background: url(./images/illustration-about-me-mobile.jpg) no-repeat center center/cover;
}

.head-ele {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 400px;
}

.bg-img-1 {
  background: url(./images/Mask-Group.jpg) no-repeat center center/cover;
  width: 68px;
  height: 127px;
  display: flex;
  margin-top: -3rem;
}

.aboutme-header {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px auto;
  margin-right: 40px;
}

.aboutme-p {
  width: 351px;
  height: 189px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 14px auto;
}

.grid-item {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  width: 327px;
  height: 352px;
  margin: 24px auto;
}

.icon {
  width: 327px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  width: 80px;
  height: 80px;
  padding: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  margin: 0 8px;
  margin-top: 25px;
}

.tags li {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  margin: auto 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88px;
  margin: 24px auto;
}

.tag-element-1 {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 8px 0;
}

.tag-element-1 li {
  padding: 12px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  margin: 0 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.tag-element-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  margin: 8px 0;
}

.tag-element-2 li {
  padding: 12px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  margin: 0 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.tag-element-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  margin: 8px 0;
}

.tag-element-3 li {
  padding: 12px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  margin: 0 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 24px;
}

.form-container .form-img {
  position: absolute;
  height: 132.37px;
  top: 78%;
  left: 88.5%;
}

form {
  margin: 10px auto;
}

.form-container h1 {
  width: 327px;
  height: 363px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  margin: 38px auto;
}

.form-control {
  position: relative;
}

.form-control .textarea-img {
  position: absolute;
  left: 95%;
  top: 75.67%;
  color: #60c095;
}

.form-control input {
  width: 327px;
  padding: 15px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 12px auto;
}

.form-control textarea {
  width: 327px;
  height: 114px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  margin: 12px auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  resize: none;
}

.form-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  margin: 15px 0;
  margin-top: 30px;
}

.form-button {
  padding: 15px;
  width: 128px;
  height: 48px;
}

.medium {
  margin-top: 2px;
}

.form-social li {
  list-style-type: none;
  padding: 0.15rem;
}

.email-container {
  width: 375px;
  height: 189px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 20px auto;
  margin-top: -50px;
  margin-bottom: 140px;
}

.email-container li {
  width: 100%;
}

.email {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.menu ul {
  padding-top: 20px;
  background: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu ul li {
  font-size: 32px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 10px;
}

.menu ul li a {
  color: #3a4a42;
}

.isfixed {
  position: fixed;
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: #c1c7d0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.container {
  position: relative;
  width: 90%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  padding: 2%;
}

.container-title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.popup-img {
  width: 100%;
}

.close-button {
  align-self: flex-end;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(49, 48, 48);
  background: #cdcecd;
  margin: 5px;
}

.description {
  width: 100%;
  height: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  padding: 10px;
  text-align: start;
  color: #172b4d;
  margin: 0 auto;
}

.buttons {
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttons > button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin: auto 4px;
  text-align: center;
}

.error {
  color: #da2c2c;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: center;
}
